server {
    listen       ${NGINX_PORT};  # Dynamisch den Port aus der Umgebungsvariable verwenden
    server_name  localhost;

    # Root-Verzeichnis für die Standard-Nginx-Seite
    root   /usr/share/nginx/html;
    index  index.html;

    # Logging
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    # Standard-Nginx-Willkommensnachricht
    location / {
        # Standard-Nginx-Seite anzeigen
        try_files $uri $uri/ /index.html;
    }
}
